.navbar-fixed {
    z-index: 998;
  }

nav{
    box-shadow: none;
}
div[class~='nav-wrapper']{
    margin-left: 10px;
    
}
.logoNav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #4a148c;
    padding: 20px 0 20px 0;
    &>div{
        text-align: center;
        width: 100%;
        &>span{
            color: white;
            font-size: 2.1rem;
            padding: 0;
        }
        &>i{
            color: white;
        }
    }
    

}